@charset "utf-8";
/* CSS Document */
*{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 900px;
	background-color: #FFFFFF;
}
header {
	width: 100%;
	height: 10%;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
}
.logo {
	color:aliceblue;
	font-weight: bold;
	text-align: undefined;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 2px;
}
nav {
	float:right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
	
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li a {
	color:aliceblue ;
	text-decoration: none;
}
nav ul li:hover a {
	color: #2C9AB7;
}
.menu li a{
	text-decoration: none;
	color:#8B4CB9;
}
.menu li a:hover{
	color:#4E0E59;
	font-weight: bold;
}
.footer{
	text-align: center;
	height:15%;
	background-color: #46AFE4;
	line-height: 30px;
	font-style:italic;
}

