@charset "utf-8";
/* CSS Document */
div{
	width:200px;
	height:100px;
	background-color: yellow;
	border:2px solid black;
	margin: 20px;
	padding: 5px;
	text-align: justify;
	float:left;
}
div:nth-child(2){
	clear:left;
	overflow:hidden;
}
div:last-child{
	overflow:scroll;
}