@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.main{
	display:flex;
	flex-direction: column;
}
.header{
	height:100px;
	background-image:url("../Images/header.jpg");
	text-align: center;
	line-height: 100px;
	color:#D1E540;
	font-size:1.5em;
	text-shadow: 6px 6px 3px green;
	font-style:bold; 
}
.nav{
	height:30px;
	text-align: center;
	line-height: 30px;
	background-color: #46AFE4;
}
.menu li{
	display:inline-block;
	position:relative;
	margin:0 20px;
}
.menu a{
	text-decoration: none;
	color:black;
}
.menu a:hover{
	font-weight:bold;
	color:white;
}
.body{
	display:flex;
	flex-direction:row;
	min-height:400px;
}
.left,.right{
	width:15%;
	background-color: #086B4F;
}
.content{
	width:70%;
	display:flex;
	flex-direction: column;
}
.content div{
	display:flex;
	flex-direction: row;
}
.content div div{
	width:50%;
	height:150px;
	border: 2px solid #A1A1A1;
	padding:10px;
	margin:4px;
	background-color: #A1A1A1;
	text-align: justify;
	font-size:12px;
}
.content div div{
	
	overflow:scroll;
	
}
.footer{
	text-align: center;
	height:30px;
	background-color: #46AFE4;
	line-height: 30px;
}